.redsq{
    position:absolute;
    top: 50px;
    left: 50px;

    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #FF0000;
}
.bluesq{
    position:absolute;
    top: 150px;
    left: 150px;

    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #0000FF;
}
.greensq{
    position:absolute;
    top: 150px;
    left: 150px;

    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #008000;
}
